<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a6eb887a-e974-4c27-a6e9-23e187e00439/resourceGroups/tenisLigaOmis20230924140819ResourceGroup/providers/Microsoft.Web/sites/tenisLigaOmis</ResourceId>
    <ResourceGroup>tenisLigaOmis20230924140819ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tenisligaomis.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>de38b6c1-cb1d-4917-a691-f04879fee83a</ProjectGuid>
    <PublishUrl>https://tenisligaomis.scm.azurewebsites.net/</PublishUrl>
    <UserName>$tenisLigaOmis</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>