@page
@model NeuspjehModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p><b>Nešto ste krivo unijeli! Pokušajte ponovno.</b></p>
</div>



