@page
@model PocetnaModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Stranica u izradi do poÄetka lige.</p>
</div>

<div class="text-center">
    <img class="img-fluid" src="/images/uizradi.png">
</div>